<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display events</title>

</head>
<body>
    Display events here
    <h1>View the table</h1>
    <a href=""><button>Fetch and refresh</button></a>
    <br/>

    <table>
        <thead>
            <tr>
                <th>
                    Event
                </th>
                <th>
                    Title
                </th>
                <th>
                    Start Time
                </th>
                <th>
                    End Time
                </th>
            </tr>
        </thead>
        {% for instance in data %}
        <tr>
            <div class = "testButton">
            <th>
                {{instance.fields.title}}
            </th>
            <th>
                {{instance.fields.start_time}}
            </th>
            <th>
                {{instance.fields.start_time}}
            </th>
            </div>
            <button class = "testButton">

            </button>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
